*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body {
    background-image: url('../assets/img/stars-galaxy.gif');
}

header{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: auto;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.icon { 
    width: 8em;
    border-radius: 4em;
}
.icon:hover { 
    box-shadow: 0 0 6px 4px rgb(249, 246, 246);
    scale: 1.1;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left:  20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li .active{

    background: #fff;
    color: #2b1055
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 1000px,   
    
}
.hd1{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    text-shadow: 10px 10px 20px black;
}
.body{
    text-align: center;
    color: #fff;
}
body{
    min-height: 100vh;
    color: white;
}
.main1{
    box-shadow: 0 0 70px white;
}
.main1:hover{
    box-shadow: 0 0 6px 4px;
    
}
/* .Testi {
    align-items: center;
    display: inline-flex;
    height: fit-content;
    justify-content: space-between;
    gap: 10px;
} */
.testi2{
    height: 150px;
    width: 150px;
}
.text{
    background-color: black;
    font-size: large;
}
h1 , h2{
    font-size: 45px;
    background-color: black;
    text-align: center;
}
ul {
    list-style: none;
}
.numbers {
    display: inline-flex;
    gap: 30px;
    font-size: large;
    background-color: black;
}
.para{
    font-size: large;
    background-color: black;
}
#col{
    font-size: 30px;
}

.container{
    margin: 150px auto;
    width: 50%;
    padding: 8px;
}

.large-header{
    position: relative;
    width: 100%;
    height: 280px;
    background: #111;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    
}

.demo .large-header{
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}

.main-title{
    position: absolute;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top:50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate(-50%,-50%,0);
}

.demo .main-title{
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
}

.main-title .thin{
    font-weight: 200;
}

@media only screen and (max-width: 768px){
    .demo .main-title{
        font-size: 3em;

    }
    .box{
        max-width: 800px;
    }
}
@media screen and (min-width: 100px) {
    .demo .main-title{
        font-size: 3em;
        
    }
    .box{
        min-width: 200px
    } 
}
@import "compass/css3";

@keyframes fadeIn { 
  from { opacity: 0; } 
}
.w3-animate-fading{
    animation: fadeIn 1s infinite alternate;
}
/* footer */
footer p {
    font-weight: bold;
}


.fa {
    padding: 20px;
    font-size: 20px;
    width: 50px;
    align-items: center;
    text-decoration: none;
    margin: 5px 5px;
  }
  
  .fa:hover {
      opacity: 0.7;
      color: aqua;
  }
 /* Facebook */
.fa-facebook {
    background: #1b51c6;
    color: white;
    align-items: center;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
    align-items: center;
  }
  .fa-instagram {
    background: #ffa202;
    color: white;
    align-items: center;
  }

footer {
    color: #fff;
    text-align: center;
}
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}
.back-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #34b7a7;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

a {
    color: white;
    text-decoration: underline;
}
